<div class="d-flex">

  <!-- Sidebar -->
  <div class="bg-dark border-right p-3" id="sidebar">

    <h3 class="text-light">Gifs-App</h3>
    <hr class="text-light"/>

    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">
        Dashboard
      </a>
    </div>

  </div>
  <!-- End Sidebar -->

  <div class="container">
    <div class="row p-3">

      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs..."/>
      </div>

    </div>

    <hr/>
    <div class="row">
      <div class="col">
        Ea ea dolore duis aliquip in adipisicing sit aliquip duis Lorem qui. Amet do elit laboris proident officia fugiat ut sit cupidatat ut dolore sint. Nostrud ex ex proident ex nostrud labore anim aliqua proident voluptate exercitation amet Lorem fugiat. Eiusmod esse do aute nisi eiusmod cillum. Tempor quis esse ad laborum sint dolor.
      </div>
    </div>
  </div>


</div>
